<section id="home">
    <div class="modules-content">
        
        <!-- Primeira fileira de módulos -->
        <div class="modules-row">
            <div class="module" routerLink="../modulos/alfabeto">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="sort_by_alpha"></mat-icon>
                </div>
                <p class="module-title">Alfabeto</p>
            </div>

            <div class="module" routerLink="../modulos/saudacoes">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="waving_hand"></mat-icon>
                </div>
                <p class="module-title">Saudações</p>
            </div>

            <div class="module" routerLink="../modulos/tempo">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="access_time"></mat-icon>
                </div>
                <p class="module-title">Tempo</p>
            </div>
        </div>
    </div>

    <!-- Segunda fileira de módulos -->
    <div class="modules-row">
        <div class="module" routerLink="../modulos/lugares">
            <div class="module-background">
                <mat-icon class="module-icon" fontIcon="location_pin"></mat-icon>
            </div>
            <p class="module-title">Lugares</p>
        </div>

        <div class="module" routerLink="../modulos/partes-do-corpo">
            <div class="module-background">
                <mat-icon class="module-icon" fontIcon="accessibility_new"></mat-icon>
            </div>
            <p class="module-title">Partes do corpo</p>
        </div>

        <div class="module" routerLink="../modulos/familia">
            <div class="module-background">
                <mat-icon class="module-icon" fontIcon="diversity_3"></mat-icon>
            </div>
            <p class="module-title">Família</p>
        </div>
    </div>
</section>